
@{
    Layout = null;
}
<div id="uyari"></div>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sorunun Cevabı | Giriş</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/blue.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="hold-transition lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a href="~/Login/Login"><b>Sorunun</b>CEVABI</a>
        </div>
        <!-- User name -->
        <div class="lockscreen-name"><b>@Session["adi"]&nbsp;@Session["soyadi"]</b><small> @@@Session["kullaniciadi"]</small></div>
        <!-- START LOCK SCREEN ITEM -->
        <div class="lockscreen-item">
            <!-- lockscreen image -->
            <div class="lockscreen-image">
                <img src="@Session["kullaniciresmi"]" alt="@Session["kullaniciadi"]">
            </div>
            <!-- /.lockscreen-image -->
            <!-- lockscreen credentials (contains the form) -->
            <form class="lockscreen-credentials">
                <div class="input-group">
                    <input type="password" class="form-control" id="parola" placeholder="Parolanız">
                    <div class="input-group-btn">
                        <button type="button" class="btn" id="girisyap"><i class="fa fa-arrow-right text-muted"></i></button>
                    </div>
                </div>
            </form>
            <!-- /.lockscreen credentials -->
        </div>
        <!-- /.lockscreen-item -->
        <div class="help-block text-center">
            Parolanızı girerek oturuma geri dönebilrsiniz.
        </div>
        <div class="text-center">
            <a href="../Login/Login">Başka kullanıcı olarakta giriş yapabilirsiniz</a>
        </div>
        <div class="lockscreen-footer text-center">
            Copyright &copy; 2013-2016 <b><a href="http://yazilimmuhendisiyiz.biz" class="text-black">Yazılım Mühendisiyiz Biz</a></b><br>
            Tüm hakları saklıdır.
        </div>
    </div>
    <!-- /.center -->

</body>
</html>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>

<!-- Bootstrap 3.3.6 -->
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/icheck.min.js"></script>

<script>
                $(function () {
                    $("#girisyap").click(function () {
                        console.log("asasasasas");
                        var eposta = "@Session["kullaniciadi"]";
                        var parola = $("#parola").val();
                            $.post("../Login/GirisYap", { eposta: eposta,parola:parola }, function (data) {
                                if (data.basari != -1) {
                                    setTimeout("location.href = '../Home/Sorular'", 2500);
                                    $("#uyari").html('<div class="alert alert-success alert-dismissible" id="kosul"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-danger"></i> Başarılı!</h4>Kullanıcı Girişi Başarılı! Yönlendiriliyorsunuz...</div>').hide(5000);


                                }
                                else if(data.basari==-1)
                                {
                                    alert("Giriş Başarısız!");
                                }
                            });
                    });
                });
</script>