@{
    ViewBag.Title = "Home Page";
}

lorem ipsumss
@*@foreach (SorununCevabi.SoruCevapServisi.Soru item in ViewBag.tsorular)
{
    <p><h1>@item.soruSahibi</h1>
    <h3>@item.soruIcerigi</h3>
    <h4>@item.soruBasligi</h4>
    </p>
}*@